body {
  margin: 20px;
  border-style: border-box;
  /* border: 3px solid #444849; */
  width: 824px;
  height: 615px;
}

#header {
  margin: 20px 0 30px 20px ;
}

#content {
  margin: 10px;
}

.port-input-container{
  height: 40px;
}

.port-header{
  display: inline-block;
  /* border-style: none; */
  border: 2px solid #252628;
  width: 300px;
  height: 40px;
  line-height: 40px;
  padding-left: 26px;
  background-color: #444849;
}

.port-input-item{
  width: 70px;
  height: 40px;
  color: #000;
  background-color: #fff;
  /* border-style: none; */
  border: 2px solid #252628;
  position: relative;
  top: -4px;
}

#bottom {
  margin: 300px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#apply, #cancel {
  margin: 0 10px;
  width: 100px;
  height: 50px;
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
}

input[type='radio']{
  margin: 0 20px;
}