.container {
  width: 1200px;
  height: 800px;
  /* margin : 0 auto; */
  border: 1px solid red;
}
.navi{
  width:inherit;
  height:60px;
  padding:10 0 10 0;
  /* border-bottom:2px solid #ccc; */
}
.navi ul{
  list-style: none;
  padding-top:10px; 
  padding-bottom:5px;
}
.navi ul li {
  float:left;
  width:150px;
  padding:10px;   
}
.navi a:link, .navi a:visited{
  display:block;
  font-size:1.3em;
  color:#fff;
  padding: 10px; 
  text-decoration: none;  /* 밑줄 없앰 */
  text-align: center;
}
.navi a:hover,  .navi a:focus {
  background-color:#f00;  /* 배경 색 */
  color:#fff;  /* 글자 색 */
}
.navi a:active {
  background-color:#f00;  /* 배경 색 */
}